@import '/node_modules/materialize-css/dist/css/materialize.css';
@import '/node_modules/material-icons/css/material-icons.css';

.caching-strategy-image {
    width:100%;
    max-height:400px;
}

.image-compare-container {
    margin-top:10px;
}

.arrow-icon {
    margin-left:20px;
    font-size:20pt;
}

.arrow-icon > i.mi-arrow-back {
    line-height:2;
}