<html ng-app="PWA">

<head>
    <title>PWA Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="/css/app.css" />-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0d47a1">
    <meta name="theme-color" content="#0d47a1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" src="/dist/styles.bundle.js"></script>
    <script type="text/javascript" src="/dist/app.bundle.js"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper blue darken-4">
            <a href="#" class="brand-logo center">PWA Demo</a>
        </div>
    </nav>
    <div class="main">
        <div class="row">
            <div class="col s12">
                <ul class="collection">
                    <a class="collection-item" href="/caching-strategies.html">Caching Strategies</a>
                    <a class="collection-item" href="/background-sync.html">Background Sync</a>
                    <!--<a class="collection-item" href="/push-notifications.html">Push Notifications</a>
                    <a class="collection-item" href="/web-share-api.html">Web Share API</a>-->
                </ul>
            </div>
        </div>
    </div>

</body>

</html>